@import 'reset';
@import 'breakpoint';
@import 'colorTheme';

.container {
  max-width: 95%;
  margin: 0.5rem auto;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 1px 8px rgba(152, 105, 163, 0.25);
}

.new-expense {
  text-align: center; 
  background-color: var(--background);
  button {
    font: inherit;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    border: 1px solid var(--line);
    background-color: var(--btn);
    color: var(--text);
    border-radius: 0.5rem;
    margin-right: 0.4rem;
    &:hover,
    &:active {
      background-color: var(--theme);
    }
  }
  &__controls {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: left;
    input {
      font: inherit;
      padding: 0.5rem;
      border-radius: 0.5rem;
      border: 1px solid var(--line);
      height: 2.5rem;
      flex: 1;
      max-width: 20rem;
    }
    label {
      font-weight: bold;
      margin-bottom: 0.5rem;
      display: block;
    }
  }
  &__actions {
    text-align: right;
  }
}

.expense-item {
  display: flex;
  padding: 0.5rem;
  margin: 1rem 0;
  background-color: var(--sub-background);
  border-radius: 0.5rem;
  &__description {
    position: relative;
    display: flex;
    flex: 1;
    align-items: center;
  }
  &__name {
    flex: 1;
    text-align: left;
    padding: 0 1rem;
    font-size: 1rem;
    color: var(--btn);
    text-shadow: 1px 1px white;
    @include media-min($sm) {
      font-size: 1.2rem;
    }
  }
  &__price {
    padding: 0.5rem;
    border: 1px solid var(--line);
    font-size: 1rem;
    font-weight: bold;
    color: var(--text);
    background-color: var(--money);
    @include media-min($sm) {
      font-size: 1.2rem;
      padding: 0.5rem 1.5rem;
    }
  }
  &__delete {
    position: absolute;
    top: -0.5rem;
    right: 0;
    font-size: 1.2rem;
    padding: 0.5rem 0 0.5rem 0.5rem;
    color: var(--theme);
    &:hover {
      color: var(--warn);
    }
  }
}

.expense-date {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 5.5rem;
  height: 5.5rem;
  border: 1px solid var(--line);
  background-color: var(--theme);
  color: white;
  &__year {
    font-size: 0.8rem;
  }
  &__month {
    font-size: 0.8rem;
    font-weight: bold;
  }
  &__day {
    font-size: 1.4rem;
    font-weight: bold;
  }
}

.expenses-filter {
  color: var(--text);
  padding: 0 1rem;
  &__control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 1rem 0;
  }
  label {
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-size: 1.2rem;
  }
  select {
    font: inherit;
    padding: 0.5rem 3rem;
    font-weight: bold;
    border-radius: 0.5rem;
    border: 1px solid var(--line);
  }
}

.expense-list__notfound {
  color: var(--text);
  text-align: center;
}

.chart {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--sub-background);
  text-align: center;
  display: flex;
  justify-content: space-around;
  height: 10rem;
}

.chart-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__number{
    display:none;
    margin-bottom: 0.2rem;
    color: var(--theme);
    @include media-min($sm){
      display:block;
      font-size: 0.4rem;
    }
  }
  &__inner {
    height: 100%;
    width: 0.8rem;
    border-radius: 0.2rem;
    outline:1px solid var(--line);
    background-color: var(--background);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    @include media-min($sm){
      width: 1.2rem;
    }
  }
  &__fill {
    background-color: var(--theme);
    width: 100%;
    transition: all 0.3s ease-out;
  }
  &__label {
    font-weight: bold;
    font-size: 0.5rem;
    text-align: center;
  }
}
